.caixa{
    display: flex;
    align-items: center;
}
.formulario{
    margin-top: 8%;
    display: flex;
    width: 700px;
    height: 1200px;
    flex-direction: column;
    background-color:#6B0EE2;
    border-radius: 4px;
}

.titulo1{
    color: #F9FAC4;
    font-size: 32px;
}

.titulo2{
    color: #F9FAC4;
    font-size: 24px;
}

.caixaBotao{
    display: flex;
    align-items: center;
}