.filtros{
    font-family: Arial, Helvetica, sans-serif;
    color: #4c3d5f;
    font-size: 15px;
    padding-bottom: 20%;
    align-items: center;
  
}
.filtro{
    height: 20px;
    width: 20px;
    
    
}
.caixaFiltro{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 27.5%;
 
}
.info{
    margin-top: 15px;
    font-size: 10px;
    align-items: center;
    margin-right: 20%;
}
.tituloSelecionaveis{
    font-size: 13px;
    margin-top: 10%;

}
.categorias{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 11.5px;
    
}
.selecionavel{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}

.opcoes{
    padding: 5px;
}
.tituloTexts{
    font-size: 13px;
    margin-top: 15%;
    text-align: justify;
    margin-left: 25px;
}
.areaTexts{
  display: flex;
  flex-direction: column;
  width: 200px;
  
  
}
.barraPesquisa{
    height: 16px;
    width: 800px;
    margin-left: 10px;
    margin-top: 10%;
    border: 2px solid #8163A6;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.caixa{
    display: flex;
    flex-direction: row;
}
.caixaLupa{
    margin-top: 10%;
    height: 21.4px;
    background-color: #8163A6;
    border: 2px solid #8163A6;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.lupa{
    display: flex;
    width: 20px;
    height: 20px;
}


@media (max-width: 756px){

    .info{
        font-size: 23px;
    }

    .tituloSelecionaveis{
        font-size: 23px;
    }

    .opcoes{
        font-size: 15px;
    }

    .tituloTexts{
        font-size: 20px;
    }

 

}
