.paginaPesquisa{
    width: 100%;
}

.breadcrumb{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 75%;
}

.breadcrumbNavigation{
    padding: 10px 18px;
   
}
.breadcrumbNavigation>li{
    display:inline
}
.breadcrumbNavigation>li>a{
    color: #4c3d5f;
    font-size: 18px;
    text-decoration: none;
}
.breadcrumbNavigation>li>a:hover{
    text-decoration: underline;
}

.breadcrumbNavigation li+li::before {
    padding: 10px;
    content: ">";
    color: gray;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: auto;

 
    
}
.caixaFiltros{
    height: fit-content;
    margin-top: 20px;
    border: 2px solid #8163A6;
    border-radius: 5px;
    width: 210px;
    align-items: center;
    display: none;

   

}
.checkbox:checked .caixaFiltros{
    display: none;

}
.produtosPesquisa{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
   
}
.caixaPaginacao{
    display: flex;
    flex-direction: row;
  
    margin-top: 5%;
    background-color: #fff671;
    border: 2px solid #4c3d5f;
    border-radius: 5px;
}

/*Responsividade

@media (min-width: 450px){

    .produtosPesquisa{
        margin-left: 2px;

    }

}


@media (max-width: 1370px){

    .produtosPesquisa{
        margin-left: 20%;

    }

}
 
@media (max-width: 1230px){

    .produtosPesquisa{
        margin-left: 10%;

    }

}*/
