.breadcrumb{
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 800px;
}

.breadcrumbNavigation{
    padding: 10px 18px;
   
}
.breadcrumbNavigation>li{
    display:inline
}
.breadcrumbNavigation>li>a{
    color: #4c3d5f;
    font-size: 18px;
    text-decoration: none;
}
.breadcrumbNavigation>li>a:hover{
    text-decoration: underline;
}

.breadcrumbNavigation li+li::before {
    padding: 10px;
    content: ">";
    color: gray;
}
.conteudo{
    display: flex;
    flex-direction: row;
}
.caixaFiltros{
    height: fit-content;
    margin-top: 20px;
    border: 2px solid #8163A6;
    border-radius: 5px;
    margin-left: 10px;
    width: 210px;
    align-items: center;
}
.produtosPesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}
