.subfooter{
    display: flex;
    width: 100%;
}

.caixa{
    display: flex;
    width: 100%;
    background-color: #dedcdc;
    height: 90px;
    flex-direction: row;
    justify-content: space-between;

}

.copyright{
    display: flex;
    color: rgb(114, 114, 114);
    align-self: center;
    margin-left: 230px;
    font-family:  Arial, sans-serif;
    
}

