.caixa{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-color: #e9ed37;
    
}
.formulario{
    margin-top: 8%;
    display: flex;
    width: 700px;
    height: 1200px;
    background-color: #6b0ee2;
    border: 5px solid #e9ed37;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20%;
    
}

.titulo1{
    font-family: Arial, Helvetica, sans-serif;
    color: #e9ed37;
    font-size: 32px;
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: bold;
}

.titulo2{
    font-family: Arial, Helvetica, sans-serif;
    color: #e9ed37;
    font-size: 28px;
    margin-top: 5%;
    margin-bottom: 2.5%;
    font-weight: bold;
}

.caixaBotao{
    display: flex;
    align-items: center;
}

@media (max-width:822px){
    .formulario{
        margin-top: 8%;
        display: flex;
        width: 600px;
        height: 1200px;
        flex-direction: column;
        background-color:#6B0EE2;
        border-radius: 4px;
    }
    
    .titulo1{
        font-family: Arial, Helvetica, sans-serif;
        color: #e9ed37;
        font-size: 32px;
        margin-top: 10%;
        margin-bottom: 5%;
        font-weight: bold;
    }
    
    .titulo2{
        font-family: Arial, Helvetica, sans-serif;
        color: #e9ed37;
        font-size: 28px;
        margin-top: 5%;
        margin-bottom: 2.5%;
        font-weight: bold;
    }
}

@media (max-width:750px){
    .formulario{
        margin-top: 8%;
        display: flex;
        width: 500px;
        height: 1200px;
        flex-direction: column;
        background-color:#6B0EE2;
        border-radius: 4px;
    }
    
    .titulo1{
        font-family: Arial, Helvetica, sans-serif;
        color: #e9ed37;
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 5%;
        font-weight: bold;
    }
    
    .titulo2{
        font-family: Arial, Helvetica, sans-serif;
        color: #e9ed37;
        font-size: 24px;
        margin-top: 5%;
        margin-bottom: 2.5%;
        font-weight: bold;
    }
}

@media (max-width:610px){
    .formulario{
        margin-top: 8%;
        display: flex;
        width: 400px;
        height: 1200px;
        flex-direction: column;
        background-color:#6B0EE2;
        border-radius: 4px;
    }
    
    .titulo1{
        font-family: Arial, Helvetica, sans-serif;
        color: #e9ed37;
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 5%;
        font-weight: bold;
    }
    
    .titulo2{
        font-family: Arial, Helvetica, sans-serif;
        color: #e9ed37;
        font-size: 24px;
        margin-top: 5%;
        margin-bottom: 2.5%;
        font-weight: bold;
    }

    .caixaBotao{
        display: flex;
        align-items: center;
    }
    
}