.produto{
    display: flex;

}

.imagem img{
        float: left;
        flex-direction: column;
        margin-left: 200px;
        margin-top: 2%;
        width: 90%;
        height: 90%;
    }
    .pedido{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
}

@media (max-width: 1301px){
    .imagem img{
        float: left;
        flex-direction: column;
        margin-left: 100px;
        width: 85%;
        height: 85%;
    }
    .pedido{
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 1201px){
    .imagem img{
        float: left;
        flex-direction: column;
        margin-left: 100px;
        width: 80%;
        height: 80%;
    }
    .produto{
        display: flex;
        margin: 10px
    }
    .pedido{
        width: 90%;
        height: 90%;
    }
}

@media (max-width: 957px){
    .produto{
        
        width:fit-content;
        height: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagem img{
        display: flex;
        flex-direction: row;
        width: 55%;
        height: 55%;
    }

}

    