.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6b0ee2;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.caixaLogo{
    display: flex;
    flex-direction: column;
    color: yellow;
    margin-left: 3%;
}

.logo{
    height: 100px;
    width: 100px;
    /* margin-left: 100px; */
    margin-top: 12px;
    
}


.icons{
    display: flex;  
    flex-direction: row;
    align-items: center;

}

.caixaIcones1{
    display: flex;
    flex-direction: column;
    margin-right: 48px;
    text-decoration: none;

}

.caixaIcones2{
    display: flex;
    flex-direction: column;
    margin-right: 48px;
}

.caixaIcones3{
    display: flex;
    flex-direction: row;
}

.titulosSite{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    margin-top: 32%;
    margin-left: 22%;
}

.links{
    text-decoration: none;
}

.icon1{
    margin-top: 30px;
    width: 45px;
    height: 45px;
    margin-left: 15px;
}

.icon2{
    margin-top: 30px;
    width: 45px;
    height: 45px;
    margin-left: 24.2px;
}

.iconMenu{
    margin-top: 30px;
    width: 33px;
    height: 33px;
}
.divisao{
    display: inline-flex;
    flex-direction: column;
}

.barraPesquisa{
    padding-left: 10px;
    margin-top: 30px;
    background: #fff;
    width: 580px;
    height: 41px;
    border: 2px solid #fff;
    border-right: #fff;
    font-size: 18px;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.quadrado{
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
}

.caixaLupa{
    border: 2px solid #ffffff;
    width: 35px;
    height: 37px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.lupa{
    display: flex;
    width: 30px;
    height: 30px;
}

/* Responsividade do header*/

@media (max-width: 960px){
    .barraPesquisa{
        padding-left: 10px;
        margin-top:40px;
        background: #fff;
        width: 440px;
        height: 41px;
        border: 2px solid #fff;
        border-right: #fff;
        font-size: 18px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 840px){
    .barraPesquisa{
        padding-left: 10px;
        margin-top:40px;
        background: #fff;
        width: 370px;
        height: 41px;
        border: 2px solid #fff;
        border-right: #fff;
        font-size: 18px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 740px){
    .barraPesquisa{
        padding-left: 10px;
        margin-top:40px;
        background: #fff;
        width: 310px;
        height: 41px;
        border: 2px solid #fff;
        border-right: #fff;
        font-size: 18px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 680px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #6b0ee2;
        padding-bottom: 40px;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
    }

    .caixaLogo{
        display: flex;
        flex-direction: column;
        color: yellow;
        margin-left:0%;
    }
    .barraPesquisa{
        padding-left: 10px;
        margin-top:40px;
        background: #fff;
        width: 300px;
        height: 41px;
        border: 2px solid #fff;
        border-right: #fff;
        font-size: 18px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .caixaIcones1{
        display: flex;
        flex-direction: column;
        margin-right: 32px;
    }
    
    .caixaIcones2{
        display: flex;
        flex-direction: column;
        margin-right: 32px;
    }
}

@media( max-width: 580px){

    .barraPesquisa{
        padding-left: 10px;
        margin-top:40px;
        background: #fff;
        width: 275px;
        height: 41px;
        border: 2px solid #fff;
        border-right: #fff;
        font-size: 18px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .caixaLogo{
        display: flex;
        flex-direction: column;
        color: yellow;
        margin-left:0%;
    }

        .caixaIcones1{
            display: flex;
            flex-direction: column;
            margin-right: 32px;
            margin-left:0%;
        }
        
        .caixaIcones2{
            display: flex;
            flex-direction: column;
            margin-right: 32px;
        }

}

@media( max-width: 491px){
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #6b0ee2;
        padding-bottom: 40px;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
    }

    .caixaLogo{
        display: flex;
        flex-direction: column;
        color: yellow;
        margin-left:0%;
    }
    
    .barraPesquisa{
        padding-left: 10px;
        margin-top:40px;
        background: #fff;
        width: 230px;
        height: 41px;
        border: 2px solid #fff;
        border-right: #fff;
        font-size: 18px;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        .caixaIcones1{
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
        
        .caixaIcones2{
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }
}