.caixa{
    display: flex;
    flex-direction: column;
    background-color: #6b0ee2;
}

.caixaLogo{
    display: flex;
    flex-direction: column;
    color: yellow;
}

.logo{
    height: 100px;
    width: 100px;
    /* margin-left: 100px; */
    margin-top:20px;
    
}